<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.jdbc.sharding.data.dao.IOrderMapper">
    <resultMap id="result" type="com.sharding.jdbc.sharding.data.entity.OrderEntity">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="skuName" column="sku_name"/>
        <result property="unitName" column="unit_name"/>
        <result property="regionName" column="region_name"/>
    </resultMap>
    <select id="findAll" resultType="com.sharding.jdbc.sharding.data.entity.OrderEntity">
        select order_id, order_name, order_date from t_sale_order_item
    </select>

    <select id="query" parameterType="java.util.List" resultMap="result">
        select * from t_sale_order_item where id in
        <foreach collection="orderEntity" item="o" open="( " separator=") or (" close=" )">
            #{o.id}
        </foreach>
    </select>

    <select id="get" parameterType="java.lang.String" resultMap="result">
        select * from t_sale_order_item where region_code = #{regionCode}
    </select>

    <select id="defaultTable" parameterType="java.lang.String" resultType="hashmap">
        select * from t_concat_template where id = #{id}
    </select>

    <select id="joinQuery" parameterType="java.util.List" resultMap="result">
        select soi.id, soi.order_id, soi.sku_name, soi.unit_name, so.region_name as region_name from t_sale_order so
        left join t_sale_order_item soi on so.order_id = soi.order_id where id in
        <foreach collection="orderEntity" item="o" open="( " separator=") or (" close=" )">
            #{o.id}
        </foreach>
    </select>

    <insert id="save" parameterType="com.sharding.jdbc.sharding.data.entity.OrderEntity">
        insert into t_sale_order_item(order_id, order_name, order_date) values(#{id}, #{name}, #{date})
    </insert>
</mapper>
